/* nav style */
.header_container {
  margin: 0px 74px;
}

.nav_subCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_routes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  color: #800080;
  font-weight: 500;
  font-size: 18px;

  font-style: normal;
  line-height: 123.5%;
}

.profile_route {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav_route {
  opacity: 40%;
}

/* responsive with media queries */
@media screen and (max-width: 580px) {
  .header_container {
    margin: 0px 4px;
    margin-top: 59px;
  }
  .nav_subCon {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav_route {
    display: none;
  }
  .nav_routes {
    gap: 8px;
  }
  .profile_route {
    gap: 2px;
    background-color: #800080;
    color: white;
    padding: 0px 17px;
    border-radius: 15px;
  }
  .logo_img img {
    width: 140px;
  }
}
